* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background-image: url('assets/background.svg');
  background-size: cover;
  background-color: #E7E7E7;
  font-family: 'Roboto', sans-serif;
  color: #5D6164;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.card {
  width: 70%;
  background-color: #149911;
  padding: 32px;
  margin: 32px 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 10%;
  margin-bottom: 12px;
}

h2 {
  font-size: 1.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #F7F7F7;
  width: 30%;
}

p {
  font-size: 0.9em;
  text-align: center;
  width: 100%;
  margin: 12px 0;
  color: #F7F7F7;
}

#illustration {
  width: 50%;
}

@media screen and (max-width: 992px) {
  h2 {
    width: 80%;
  }

  #illustration {
    width: 70%;
  }
}


@media screen and (max-width: 768px) {
  #logo {
    width: 20%;
  }
}